{{page-title "Dummy"}}

<div class="container">
  <h1>Use Ember Bootstrap in an addon</h1>

  <p>
    This addon implements a &lt;Button&gt; component by wrapping Ember Bootstrap's
    &lt;BsButton&gt; component.<br>
    The &lt;Button&gt; component renders a loading spinner as long as an action
    passed as <code>@onClick</code> argument is pending.
  </p>

  {{outlet}}
</div>